:root
{
	--main-color: #EFEFEF;			
	
	--misc-color-1: #53DFD1; 		
	--misc-color-2: #0F1E64; 		
	--misc-color-3: #FF3B3F;
	--misc-color-4: #EE2525;
	--misc-color-5: #BB3FBB;
	
	--array-element-color-default: #EFEFEF;
	--array-element-color-compare: #FF5500;
	--array-element-color-swap: #AAFF50;
}

@font-face 
{
	font-family: Quicksand-Light;
	src: url('../font/Quicksand-Light.ttf') format('truetype');
}

html, body
{	
	min-width: 1200px;
	min-height: 720px;
	
	width: 100%;
	height: 100%;
	
	font-family: Quicksand-Light;
	
	background: var(--main-color);
}

.container
{
	display: grid;
	
	width: 100%;
	height: 100%;
	
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 0.5fr 6fr 1fr;
	
	grid-gap: 2px; gap: 2px;
	
	background: var(--main-color);
}

.top
{	
	grid-column: 1 / 4;
	grid-row: 1;
	
	background: var(--misc-color-3);
}

.array-info-container
{
	display: flex;
	flex-direction: row;
	
	align-items: center;
}

.array-info
{
	display: flex;
	flex-direction: row;
	
	position: relative;
	
	align-items: center;
	
	width: 15%;
	
	background: var(--misc-color-3);
	cursor: pointer;
}

.array-info-additional
{	
	display: none;
	flex-direction: column;

	position: absolute;
	
	width: 100%;
	
	top: 100%;
	left: 0;
	
	z-index: 6;
}

.array-info:hover .array-info-additional
{
	display: flex;
}

.array-info-additional .array-info
{
	min-width: 125%;
	cursor: default;
}

.array-info p
{
	padding: 5px;
	white-space: nowrap;
}

.sidebar
{
	grid-column: 1;
	grid-row: 2;
	
	background: var(--misc-color-2);
}

.slider-container
{
	display: flex;
	flex-direction: row;
	
	align-items: center;
	justify-content: flex-start;
}

#playback-speed-slider-container
{
	z-index: 3;
	
	height: 10%;
	
	bottom: 0;
	left: 5%;
	
	position: absolute;
}

.slider
{
	opacity: 0.8;

	height: 5px;
	margin: auto 10px !important;

	cursor: pointer;
	
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:focus
{
	outline: none; 
}

.slider:hover
{
	opacity: 1;
}
.slider::-ms-track 
{
	width: 100%;
	cursor: pointer;

	background: transparent; 
	border-color: transparent;
	color: transparent;
}

.slider::-moz-range-thumb
{
	
	background: var(--misc-color-1);
	
	appearance: none;
	
	box-shadow: 2px 2px 2px black;
	
	width: 15px;  
	height: 15px;
	
	border-radius: 0; 
}


.slider::-webkit-slider-thumb
{	
	background: var(--misc-color-1);
	
	-webkit-appearance: none;
	
	box-shadow: 2px 2px 2px black;
	
	width: 15px;  
	height: 15px;
	
	border-radius: 0; 
}

.slider::-ms-thumb
{	
	background: var(--misc-color-1);
	
	-webkit-appearance: none;
	
	box-shadow: 2px 2px 2px black;
	
	width: 15px;  
	height: 15px;
	
	border-radius: 0; 
}

#slider-max-info, #slider-count-info
{
	width: 100%;
}

#playback-speed-slider
{
	margin: 0 5px;
}

.dropdown
{
	position: relative;
	z-index: 5;
}

.dropdown p
{
	display: inline;
	white-space: nowrap;
}

.dropdown .dropdown-content,
.dropdown .dropdown-button
{
	z-index: 1;
	position: relative;
	
	background: var(--misc-color-3);
	
	padding: 5px;
}

.dropdown-content
{
	display: flex;
	flex-direction: row;
	
	background: inherit;
}

.dropdown .dropdown-button
{
	cursor: pointer;
}

.dropdown-button > .dropdown-content-hidden
{	
	z-index: 2;
	position: absolute;
	
	background: inherit;
	cursor: default;
	
	display: none;
	
	min-width: 100%;

	left: 100%;
	top: 0%;
}

.dropdown-button:hover
{
	background: var(--misc-color-1);
}

.dropdown-button:hover > .dropdown-content-hidden
{
	display: block;
}

.dropdown-content-hidden:hover
{
	display: block;
}

.center
{
	grid-column: 2 / 4;
	grid-row: 2;
	
	position: relative;
	
	background: var(--misc-color-2);
}

.bottom
{	
	grid-column: 1 / 4;
	grid-row: 3;
	
	background: var(--misc-color-1);
}

.array-container
{
	width: 97.5%;
	height: 95%;
	
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
}

.array-container svg
{
	display: block;
	margin: auto;
	
	width: 95%;
	height: 90%;	
}

.array-container svg rect
{
	cursor: pointer;
}

.array-element.default
{
	fill: var(--array-element-color-default);
}

.array-element.swapped
{
	fill: var(--array-element-color-swap);
}

.array-element.compared
{
	fill: var(--array-element-color-compare);
}

#array-tooltip
{
	display: none;
	
	background: white;
	position: fixed;
	
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	
	text-align: center;
	
	z-index: 5;
}

#array-load-screen
{
	position: absolute;
	
	width: 100%;
	height: 100%;

	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	background: var(--misc-color-2);
	
	display: none;
	
	z-index: 2;
}

.array-load-animation
{
	width: 100px;
	height: 100px;
	
	border: groove 50px;
	border-radius: 50%;
	border-color: var(--misc-color-3);
	
	margin: auto;
	
	animation: spin 3s linear infinite;
}

.array-load-animation-text
{
	color: inherit;
	
	font-weight: bold;
	font-size: 1.25em;
	
	position: absolute;
	margin: auto;
	
	z-index: 3;
}

@keyframes spin
{
  0% 		{ transform: rotate( 0deg	  	); 	}
  50% 	{ transform: rotate( 360deg 	); 	}
  100% 	{ transform: rotate( 0deg	  	); 	}
}

.array-nav
{
	width: 100%;
	height: 10%;
	
	bottom: 0;
	
	display: flex;
	flex-direction: row;
	
	align-items: center;
	justify-content: center;
	
	position: absolute;
	
	background: var(--misc-color-3);
	
	z-index: 2;
}

.nav-button
{	
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin: 2px; 
	
	width: 2.5%;
	height: auto;
	
	padding: 2px;
	
	cursor: pointer;
}

.shape
{
	display: inline-block;
	
	width: 0;
	height: 0;
}

.arrow-left
{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
  
    border-right: 10px solid; 
	
	border-right-color: blue;
}

.arrow-right
{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
  
    border-left: 10px solid;
	
	border-left-color: blue;
}

.rect
{	
    border-top: 10px solid; 
	border-bottom: 10px solid; 
	
	border-left: 10px solid; 
	border-right: 10px solid; 
	
	border-color: blue;
}

#nav-play .arrow-left
{
	border-right-color: var(--misc-color-1);
}

#nav-play .rect
{
	border-color: var(--misc-color-4);
}